<h1>New Entry</h1>

<%= link_to 'Show all products', products_path %>

<% if @product.errors.any? %>
  <div>
    <% @product.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
    <% end %>
  </div>
<% end %>

<%= render 'entry_form', product: @product %>
